@import "tailwindcss";

@theme {
  --color-primary: #1FAF8B;
  --color-secondary: #1E3A8A;
  --color-accent: #D1FAE5;
  --color-neutral: #FFFFFF;
  --color-gray-bg: #F3F4F6;
  --color-gray-text: #374151;
  --color-gray-light: #9CA3AF;

  --font-sans: Inter, sans-serif;
  --font-heading: Poppins, sans-serif;

  --shadow-soft: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
}
